 .u-section-1 {
  background-image: url("images/vbbb.jpg");
  background-position: 50% 50%;
  min-height: 723px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-1 .u-shape-1 {
  width: 75px;
  height: 75px;
  margin: 99px auto 0 10px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  margin: 68px 10px 0;
}

.u-section-1 .u-image-1 {
  min-height: 691px;
  background-image: url("images/JonathanMoesta1.jpg");
  background-position: 50% 50%;
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 469px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 271px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.5625rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 398px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 551px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 578px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 337px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 364px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 748px;
}

.u-section-2 .u-text-1 {
  width: 525px;
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 109px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-text-3 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 239px;
  height: 239px;
  background-image: url("images/JonathanMoestaHeadshot.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-text-5 {
  line-height: 2.2;
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 58px;
  min-width: 42px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-right: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 200px;
    height: 200px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1017px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 452px;
  }

  .u-section-2 .u-image-1 {
    width: 374px;
    height: 374px;
    margin-bottom: -48px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 148px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-2 .u-image-1 {
    width: 294px;
    height: 294px;
    margin-bottom: -2px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1366px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  margin: 240px 796px 0 0;
}

.u-section-3 .u-line-1 {
  width: 218px;
  height: 3px;
  transform-origin: left center;
  margin: 9px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 535px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 950px;
  margin: 49px 33px 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 565px;
}

.u-section-3 .u-container-layout-1 {
  padding: 3px 30px 30px;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 33px 186px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 217px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 198px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 565px;
}

.u-section-3 .u-container-layout-2 {
  padding: 5px 0;
}

.u-section-3 .u-text-7 {
  line-height: 2;
  margin: 2px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1188px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 596px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 335px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 869px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 319px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 213px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 220px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 203px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 319px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 105px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 11px;
    margin-left: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 376px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 115px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 660px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 180px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 187px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 170px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 100px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 22px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1267px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
    margin-right: 196px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 360px;
    margin-left: 30px;
  }

  .u-section-3 .u-layout-cell-1 {
    order: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1358px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 297px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 319px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1270px;
}

.u-section-4 .u-shape-1 {
  width: 347px;
  background-image: none;
  height: 1361px;
  margin: -111px auto 0 159px;
}

.u-section-4 .u-gallery-1 {
  width: 1102px;
  height: 359px;
  grid-gap: 10px;
  margin: -590px 0 0 auto;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-4 .u-gallery-item-1 {
  --effect-scale: 1.25;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,1));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  --effect-scale: 1.25;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,1));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  --effect-scale: 1.25;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-back-image-3 {
  object-position: 50.04% 50%;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,1));
  padding: 20px;
}

.u-section-4 .u-group-1 {
  width: 497px;
  min-height: 441px;
  background-image: none;
  height: auto;
  margin: -1019px auto 0 73px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 506px auto 0 134px;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -51px 471px 0 auto;
}

.u-section-4 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -48px 84px 0 auto;
  padding: 11px 32px 12px;
}

.u-section-4 .u-text-3 {
  font-size: 2.25rem;
  margin: -335px 826px 0 122px;
}

.u-section-4 .u-text-4 {
  font-size: 2.25rem;
  margin: -39px 441px 0 480px;
}

.u-section-4 .u-text-5 {
  font-size: 2.25rem;
  margin: -40px 95px 60px 888px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-4 .u-shape-1 {
    width: 300px;
    height: 962px;
    margin-left: 115px;
  }

  .u-section-4 .u-gallery-1 {
    width: 940px;
    height: 305px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -965px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 271px;
  }

  .u-section-4 .u-btn-3 {
    border-style: solid;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 726px;
    margin-left: 22px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 341px;
    margin-left: 380px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 783px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1627px;
  }

  .u-section-4 .u-shape-1 {
    height: 1299px;
    margin-left: 103px;
  }

  .u-section-4 .u-gallery-1 {
    width: 720px;
    height: 716px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-group-1 {
    margin-top: -1376px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 51px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 528px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 231px;
    margin-left: 270px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 563px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2542px;
  }

  .u-section-4 .u-shape-1 {
    height: 3662px;
    margin-right: 186px;
    margin-left: 54px;
  }

  .u-section-4 .u-gallery-1 {
    width: 540px;
    height: 1631px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-group-1 {
    margin-top: -2291px;
    margin-left: 43px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 348px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 141px;
    margin-left: 180px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 383px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1945px;
  }

  .u-section-4 .u-shape-1 {
    width: 260px;
    height: 2725px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-gallery-1 {
    width: 340px;
    height: 1034px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -1694px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
    margin-right: 148px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
    margin-right: 41px;
    margin-left: 80px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
    margin-left: 183px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 613px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 60px 20px 20px;
}

.u-section-5 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 3rem;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-form-1 {
  height: 331px;
  width: 530px;
  margin: 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-5 .u-form-1 {
    width: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-form-1 {
    width: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }
}